@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #000;
    box-sizing: border-box;
    color: #fff;
}
header{
    color: #fff;
}
.header__geral{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    font-family: "Krona One", serif;
}
.header__links a{
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    padding: 0px 7px;
}
.header__links a:hover{
    color: #808080;
}
.logo__nome{
    width: 100px;
    height: 50px;
}
.dev{
    color: #22D4FD;
}
.apresentacao{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60vh;
}
.apresentacao__nome{
    font-family: "Krona One", serif;
    font-size: 3em;
}
.apresentacao__conteudo{
    align-items: center;
}
.apresentacao__sobre{
    padding: 15px;
    font-family: "Montserrat", serif;
    font-size: 1.1em;
}
#desca_mais{
    color: #808080;
}
.sub_titulos{
    background-color: #22D4FD;
    width: 200px;
    padding: 20px;
    font-family: "Krona One", serif;
}
.card__projetos{
    display: flex;
}
.image__image__card{
    width: 192px;
    height: 192px;
    border: #fff solid 0.5px;
    
    margin: 20px;
}
.descricao__card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}
.titulo__projeto{
    font-family: "Krona One", serif;
}
.descricao__projeto{
    font-family: "Montserrat", serif;
}
.imagem_linguagem{
    width: 48px;
    height: 48px;
}